/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #dedede;
}

header {
    background: radial-gradient(#555, #333, #222);
    padding: 2rem;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.contadorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 65%;
    padding: 1rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: #999 0 0 10px;
}

.contador {
    background-color: #444;
    color: #fff;
    padding: .85rem;
    width: min-content;
    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: 50%;
}

.contadorContainer button {
    padding: .5rem;
    border: none;
    border-radius: .3rem;
    color: #fff;
    font-weight: 600;
}

.btnSumar {
    background-color: #0a3;
}

.btnRestar {
    background-color: #f90;
}

.addProductContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 65%;
    margin: auto;
}
.addProductContainer input, .addProductContainer button {
    padding: .5rem;
    border: none;
    border-radius: .3rem;
    outline: none;
    background-color: #fff;
}
.addProductContainer button {
    background-color: #79f;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 2rem 0;
    align-items: center;
}

.container div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    box-shadow: #999 0 0 10px;
    width: 65%;
    margin: auto;
    border-radius: .3rem;
    background-color: #ca8;
}

.container h3 {
    text-transform: uppercase;
}
.container button {
    border: none;
    background-color: #f00;
    width: min-content;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: .5rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}